* {
  color: white;
  overflow: hidden;
}
  
body {
  background-color: black;
  margin: 10px;
}

h1 {
  text-align: center;
}

#gameBoard {
  display: flex;
}
  
/* Game board dimensions */
  
#display {
  border: 6px solid white;
  background-color: rgb(44, 44, 44);
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1000px;
  height: 95vh;

  #player {
    height: 20px;
    width: 80px;
    background-color: white;
    position: absolute;
    left: 600px;
    top: 520px;
  }

  #ball {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 630px;
    top: 505px;
  }

  #blocks {
    height: 20px;
    width: 80px;
    background-color: white;
    position: absolute;
    left: 300px;
    top: 100px;
  }
}